<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")%>

<body>
    <h1>Update comment</h1>

    <form action="/comments/<%=comment._id%>?_method=PATCH" method="post">

        <section>
            <label for="title">Title:</label>
            <input type="text" name="comment[title]" id="title" value="<%=comment.title %>">
        </section>
        <section>
            <label for="comment">Comment:</label>
            <textarea name="comment[comment]" id="comment" cols="20" rows="3"><%=comment.comment %>
            </textarea>
        </section>
        <button>Update</button>
    </form>
    <a href="/comments/index">Back to index</a>

    <%- include("../partials/footer")%>
</body>

</html>