<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")%>
<body>
        <%- include("../partials/navbar")%>

    <h1>List of all comments</h1>
    <ul>
        <% for (let comm of comments) { %>
        <li>
            <%=comm.title%> : <%=comm.comment%> 
        <a href="/comments/<%=comm._id%>">Details</a>
        
        </li>
        <%} %>
        
    </ul>
    
<a href="/comments/new">New comment</a>
    <%- include("../partials/footer")%>
</body>
</html>