<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")%>
<body>
    <h1>Make a new comment</h1>

    <form action="/comments" method="post">

        <section>
            <label for="title">Enter title:</label>
            <input type="text" name="comment[title]" id="title">
        </section>
        <section>
            <label for="comment">Enter comment:</label>
            <textarea name="comment[comment]" id="comment" cols="20" rows="3"></textarea>
        </section>
        <button>Submit</button>
    </form>
    <a href="/comments/index">Back to index</a>
    <%- include("../partials/footer")%>
</body>
</html>