<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")%>


<body>
    <h1>Comment id: <%=comment._id%></h1>
<p><%= comment.title%>: <%= comment.comment%></p>

<a href="/comments/<%=comment._id%>/edit">Edit comment</a>

<form action="/comments/<%=comment._id%>?_method=DELETE" method="post">
    <button>Delete comment</button>
</form>

<a href="/comments/index">Back to index</a>


    <%- include("../partials/footer")%>
    
</body>

</html>