<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CommentsApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/comments">All comments</a>
        <a class="nav-link" href="/comments/new">Create a comment</a>
      </div>
      <div class="navbar-nav ml-auto">
        <% if (!currentUser) { %>
          <p class="nav-link">Nepřihlášený uživatel</p>
          <a href="/login" class="nav-link">Login</a>
          <a href="/register" class="nav-link">Register</a>
        <% } else { %>
          <p class="nav-link">Přihlášen(a) <%= currentUser.username %></p>
          <a href="/logout" class="nav-link">Logout</a>
        <% } %>

        <!-- tady bude navigace Login/Register/Logout -->
      </div>
    </div>
  </div>
</nav>
