<!DOCTYPE html>
<html lang="cs-CZ">
  <%- include("./partials/head") %>
  <body class="d-flex flex-column vh-100">
    <%- include("./partials/navbar") %>
    <main class="container mt-5">
      <div class="col-6 offset-3">
        <h1>Comments</h1>
      </div>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
