<!DOCTYPE html>
<html lang="cs-CZ">
<%- include("./partials/head") %>

    <body class="d-flex flex-column vh-100">
        <%- include("./partials/navbar") %>
            <main class="container mt-5">
                <div class="alert alert-danger">
                    <h4 class="alert-heading"><%= err.message%></h4>
                    <p><%= err.stack %></p>
                </div>
            </main>
            <%- include("./partials/footer") %>
    </body>

</html>