<!DOCTYPE html>
<html lang="cs-CZ">
<%- include("../partials/head") %>

    <body class="d-flex flex-column vh-100">
        <%- include("../partials/navbar") %>
            <main class="container mt-5">
                <h1 class="text-center">Login</h1>
                <div class="col-6 offset-3">
                    <form action="/login" method="post" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" name="username" id="username" class="form-control" required                                required />
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" name="password" id="password" class="form-control" required />
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success">Login</button>
                    </form>
                    
                </div>
            </main>

            <%- include("../partials/footer") %>
        <%- include("../partials/scripts") %>

    </body>

</html>