<!DOCTYPE html>
<html lang="cs-CZ">
  <%- include("../partials/head") %>

  <body class="d-flex flex-column vh-100">
    <%- include("../partials/navbar") %>
    <main class="container mt-5">
      <h1 class="text-center">Update comment</h1>
      <div class="col-6 offset-3">
        <form
          action="/comments/<%= comment._id%>?_method=PATCH"
          method="post"
          class="validated-form"
          novalidate
        >
          <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input
              type="text"
              name="comment[title]"
              id="title"
              value="<%= comment.title%>"
              class="form-control"
              required
            />
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="mb-3">
            <label for="comment" class="form-label">Comment:</label>
            <textarea
              name="comment[comment]"
              id="comment"
              cols="30"
              rows="10"
              class="form-control"
              required
            >
<%= comment.comment%></textarea
            >
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <button class="btn btn-success">Update</button>
        </form>
        <a class="btn btn-primary" href="/comments">Back to index</a>
      </div>
    </main>
    <%- include("../partials/footer") %>
    <%- include("../partials/scripts") %>
  </body>
</html>
