<!DOCTYPE html>
<html lang="cs-CZ">
  <%- include("../partials/head") %>

  <body class="d-flex flex-column vh-100">
    <%- include("../partials/navbar") %>
    <main class="container mt-5">
      <h1 class="offset-3">List of all comments</h1>
      <div class="col-6 offset-2">
        <% for (let c of comments) { %>
        <div class="card mb-3">
          <div class="row">
            <div>
              <div class="card-body">
                <h5 class="card-title">Title: <%= c.title %></h5>
                <p class="card-text">Comment: <%= c.comment %></p>
                <a class="btn btn-primary" href="/comments/<%= c._id%>"
                  >details</a
                >
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
