<!DOCTYPE html>
<html lang="cs-CZ">
  <%- include("../partials/head") %>

  <body class="d-flex flex-column vh-100">
    <%- include("../partials/navbar") %>
    <main class="container mt-5">
      <div class="col-6 offset-3">
        <h3>Details on <%= comment.title%></h3>
        <p>(Created by <%= comment.author.username %>)</p>
        <p>Text: <%= comment.comment%></p>

        <% if (currentUser && currentUser._id.equals(comment.author._id)) { %>
          <a class="btn btn-info" href="/comments/<%=comment._id%>/edit">Edit comment</a>
          <form action="/comments/<%= comment._id%>?_method=DELETE" method="post">
            <button class="btn btn-danger">Delete comment</button>
          </form>
        <% } %> 

        <a class="btn btn-primary" href="/comments">Back to index</a>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
